<!DOCTYPE html>
<html>
<head>
  <title>Auther0</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "auther0/application", media: "all" %>
  <%= javascript_include_tag "auther0/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
